(kind:Text,metadata:(message_kind:Text,message_length:3,datetime:[0,0,0,0,97,36,199,174],author_id:2,author_username:"man",recipient_id:0,recipients:["man"],file_name:None),content:[(size:19,kind:Content(9,[121,111,117,32,100,111,110,96,116]))],end_data:(size:10,kind:End))