(
    metadata: (
        message_kind: Text,
        message_length: 3,
        datetime: ([
            0,
            0,
            0,
            0,
            97,
            71,
            54,
            153,
        ]),
        author_id: 2,
        author_username: "man",
        recipient_id: 0,
        recipients: [
            "2",
        ],
        file_name: None,
    ),
    content: ("Moje heslo je pass"),
    end_data: (
        size: 4,
        kind: End,
        content: ([]),
    ),
)