(
    metadata: (
        message_kind: Text,
        message_length: 3,
        datetime: ([
            0,
            0,
            0,
            0,
            97,
            63,
            154,
            171,
        ]),
        author_id: 0,
        author_username: "guy",
        recipient_id: 2,
        recipients: [
            "guy",
        ],
        file_name: None,
    ),
    content: ("Hello there."),
    end_data: (
        size: 4,
        kind: End,
        content: ([]),
    ),
)