(
    metadata: (
        message_kind: Text,
        message_length: 3,
        datetime: ([
            0,
            0,
            0,
            0,
            97,
            82,
            234,
            72,
        ]),
        author_id: 3,
        author_username: "man",
        recipient_id: 0,
        recipients: [
            "3",
        ],
        file_name: None,
    ),
    content: ("Hello."),
    end_data: (
        size: 4,
        kind: End,
        content: ([]),
    ),
)