(metadata:(message_kind:Request,message_length:3,datetime:([0,0,0,0,97,50,7,159]),author_id:2,author_username:"man",recipient_id:0,recipients:["SERVER"],file_name:None),content:("GetWaitingMessagesAuto"),end_data:(size:4,kind:End,content:([])))