(kind:Text,metadata:(message_kind:Text,message_length:3,datetime:[0,0,0,0,97,39,203,237],author_id:0,author_username:"Tomáš",recipient_id:2,recipients:["Tomáš"],file_name:None),content:[(size:10,kind:Content,content:[72,101,108,108,111,46])],end_data:(size:4,kind:End,content:[]))