(kind:Empty,metadata:(message_kind:Empty,message_length:3,datetime:([0,0,0,0,97,49,212,145]),author_id:0,author_username:"",recipient_id:0,recipients:["Francis","Lucy"],file_name:None),content:("Hello, how are you?"),end_data:(size:4,kind:End,content:([])))