(kind:Text,metadata:(message_kind:Text,message_length:3,datetime:[0,0,0,0,97,38,46,170],author_id:2,author_username:"man",recipient_id:0,recipients:["man"],file_name:None),content:[(size:7,kind:Content,content:[72,105,46])],end_data:(size:4,kind:End,content:[]))