(kind:Text,metadata:(message_kind:Text,message_length:3,datetime:[0,0,0,0,97,36,184,214],author_id:2,author_username:"man",recipient_id:0,recipients:["Lucy"],file_name:None),content:[(size:29,kind:Content(19,[72,101,108,108,111,44,32,104,111,119,32,97,114,101,32,121,111,117,63]))],end_data:(size:10,kind:End))