(kind:Text,metadata:(message_kind:Text,message_length:3,datetime:[0,0,0,0,97,36,13,82],author_id:2,author_username:"Martin",recipient_id:0,recipients:["Štěpán"],file_name:None),content:[(size:19,kind:Content(9,[89,111,117,32,115,117,99,107,46]))],end_data:(size:10,kind:End))