(kind:File,metadata:(message_kind:File,message_length:3,datetime:[0,0,0,0,97,36,13,40],author_id:3,author_username:"Štěpán",recipient_id:0,recipients:["Martin"],file_name:Some("D:\\stepa\\Documents\\Rust\\net_comms\\server_logs\\Štěpán\\user_to_user\\2021-08-23-21-03-36\\hello_there.txt")),content:[],end_data:(size:10,kind:End))