(kind:Text,metadata:(message_kind:Text,message_length:3,datetime:[0,0,0,0,97,36,199,157],author_id:2,author_username:"man",recipient_id:0,recipients:["Jakub"],file_name:None),content:[(size:18,kind:Content(8,[121,111,117,32,115,117,99,107]))],end_data:(size:10,kind:End))